body {
  background: linear-gradient(
    72.3deg,
    rgb(29, 7, 64) 8.5%,
    rgb(253, 105, 139) 92.2%
  );
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px;
}

.App-logo {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

.App a {
  color: #06123e;
}
