.Meaning h3 {
  font-size: 23px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: capitalize;
}

.Meaning .Example {
  font-size: 15px;
  opacity: 0.7;
  font-style: italic;
  color: #430f58;
  margin-top: 10px;
}
